<div class="form-builder">
  <div class="top-section">
    <h2>Form Builder</h2>
    <div class="top-actions">
      <button mat-raised-button color="primary" (click)="backToDashboard()">Back to Dashboard</button>
      <button mat-raised-button color="primary" (click)="saveForm()">Save Form</button>
      <button mat-raised-button color="primary" (click)="exportToPDF()">Save as PDF</button>
    </div>
  </div>
  <div class="main-content">
    <div class="field-palette">
      <h3>Field Palette</h3>
      <div class="draggable-field" *ngFor="let field of paletteFields" draggable="true"
        (dragstart)="onDragStart(field)">{{ field.label }}</div>
    </div>

    <div class="form-canvas" (dragover)="allowDrop($event)" (drop)="dropField($event)">
      <ng-container *ngFor="let page of formPages || []; let pi = index">
        <div class="form-page" *ngIf="currentPage === pi">
          <div class="form-grid">
            <div *ngFor="let field of page.fields" class="form-field form-row" [ngClass]="field.width"
              [draggable]="!isSigning" (dragstart)="onFieldDragStart(field, pi)">
              <!-- <span>{{field | json}}</span> -->
              <label class="form-label">{{ field.label }}</label>
              <ng-container [ngSwitch]="field.type">
                <input *ngSwitchCase="getInputSwitchType(field.type)" [type]="field.type" class="form-input"
                  [style.min-width.px]="field.width" [placeholder]="field.placeholder || ''" />
                <select *ngSwitchCase="'branch'" [ngModel]="field.options" (ngModelChange)="field.options = $event"
                  [style.min-width.px]="field.width" class="form-input">
                  <option *ngFor="let option of field.options || []" [value]="option.value">{{ option.label }}</option>
                </select>
                <textarea *ngSwitchCase="'textarea'" [placeholder]="field.placeholder || ''"
                  [style.min-width.px]="field.width" class="form-input"></textarea>
                <div *ngSwitchCase="'signature'" class="signature-pad-container form-input"
                  [style.min-width.px]="field.width">
                  <canvas #canvasElement [style.width.px]="field.width" height="100" (mousedown)="startDrawing($event)"
                    (mouseup)="stopDrawing($event)" (mouseleave)="stopDrawing($event)" (mousemove)="draw($event)"
                    style="border: 1px solid #ccc; touch-action: none; position: relative;"></canvas>
                  <button mat-fab matTooltip="Clear signature" aria-label="Clear signature" class="clear-sign-btn"
                    (click)="clearCanvas()">
                    <mat-icon>clear</mat-icon>
                  </button>
                </div>
              </ng-container>
              <button title="Remove field" matFab aria-label="Remove field icon button with a delete icon"
                (click)="removeField(pi, field)" class="delete-btn">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <!-- <div class="actions">
    <button (click)="generateJSON()">Generate JSON</button>
    <button mat-raised-button color="primary" (click)="saveForm()">Save Form</button>
    <button (click)="loadForm()">Load Saved</button>
    <button mat-raised-button color="primary" (click)="exportToPDF()">Save as PDF</button>
  </div> -->

  <!-- <div class="pagination">
    <span>Page {{ currentPage + 1 }} of {{ formPages.length }}</span>
    <button (click)="prevPage()">Previous</button>
    <button (click)="nextPage()">Next</button>
  </div> -->
</div>

<div *ngIf="fieldConfigVisible" class="popup-overlay mat-dialog-overlay">
  <div class="popup mat-elevation-z4">
    <h3 class="form-title">Configure Field</h3>
    <form (ngSubmit)="createField()" class="field-form" #form="ngForm">

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Label</mat-label>
        <input matInput [disabled]="newField.label === ''" [(ngModel)]="newField.label" name="label" required>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Placeholder</mat-label>
        <input matInput [(ngModel)]="newField.placeholder" name="placeholder">
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Width</mat-label>
        <mat-select [(ngModel)]="newField.width" name="width">
          <mat-option value="150">Small</mat-option>
          <mat-option value="300">Medium</mat-option>
          <mat-option value="400">Large</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="action-buttons">
        <button mat-raised-button color="primary" type="submit">Create</button>
        <button mat-button color="warn" type="button" (click)="cancelFieldConfig()">Cancel</button>
      </div>

    </form>
  </div>
</div>