/* form-builder.component.css */
.top-section {
  display: flex;
  justify-content: space-between;
  background-color: #2196f3;
  padding: 10px;
  color: white;
  align-items: center;
  .top-actions {
    display: flex;
    gap: 10px;
  }
}

.search-bar {
  padding: 20px;
  display: flex;
  gap: 10px;
}

.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  min-width: 300px;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}

.dashboard,
.form-builder {
  margin: 20px;
}

.field-palette {
  padding: 10px;
  width: 200px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  h3 {
    font-size: 18px;
  }
}

.draggable-field {
  background: #e3f2fd;
  padding: 10px;
  margin: 5px 0;
  cursor: grab;
  border: 1px solid #90caf9;
  user-select: none;
}

.form-canvas {
  flex: 1;
  padding: 10px;
  min-height: 300px;
  border: 1px dashed #aaa;
  background: #fff;
}

.form-field {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #f1f1f1;
}

.form-field.full-width {
  width: 100%;
}

.actions,
.pagination {
  text-align: center;
  margin-top: 15px;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background: #fff;
  padding: 20px;
  width: 400px;
  border-radius: 10px;
}

.popup input,
.popup select {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}

.main-content {
  display: inline-flex;
  width: 95vw;
}

.form-page {
  width: fit-content;
}

.form-grid {
  display: inline-flex;
  flex-wrap: wrap; /* allows items to wrap like grid rows */
  gap: 10px; /* space between items */
  align-items: stretch; /* aligns items vertically */
  justify-content: flex-start; /* aligns items horizontally */
  max-width: 100%; /* prevents overflow */
}
.element-card {
  max-width: 400px;
}
.form-grid-item {
  width: 100%; //calc(27.333% - 5px); //flex: 1 1 150px; /* grow, shrink, base width */
  min-width: fit-content; /* minimum width per item */
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 10px;

  input,
  select,
  textarea {
    margin: 10px;
  }
  button {
    background: red;
    border: 0;
    padding: 7px;
    color: #fff;
    border-radius: 35%;
    font-weight: 600;
    font-size: 12px;
    width: 25px;
    cursor: pointer;
  }
}
